<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Contata.TestComponents.ListenersNG" />
	</listeners>


	<test thread-count="5" name="Test">
		<classes>

			<class name="Contata1.listPgaeTests" />
			<!-- <class name="Contata1.LoginPageTest" /> 
			<class name="Contata1.PeopleTest" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
